:root{
    --platinum: #E5E5E5;
    --raisin-black: #1D1E2C;
    --satin-sheen-gold: #CCA43B;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

.container{
    display: grid; 
    grid-template-columns: 0.8fr 1.2fr 1fr 1fr; 
    grid-template-rows: 0.8fr 1.2fr 1.2fr 0.8fr; 
    gap: 0px 0px; 
    grid-template-areas: 
    "header header header header"
    "main main main main"
    "main main main main"
    "footer footer footer footer";
    min-height: 100vh;
}

header {
    grid-area: header;
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    background-color: var(--platinum);
}

.header-right{
    display: flex;
    align-items: center;
}

header .photo img{
    width: 20rem;
    height: auto;
    border-radius: 2em;
}

main{
    grid-area: main;
    display: grid; 
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: repeat(3, 1fr); 
    gap: 40px; 
    grid-template-areas: 
      "bio projects"
      "bio projects"
      "bio projects";
    text-align: center;
    margin: 20px;
}

.bio{
    grid-area: bio;
}

.projects{
    grid-area: projects;
}

.project-cards{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
    gap: 20px;
}

.card{
    border: 2px;
    border-color: var(--satin-sheen-gold);
    border-style: solid;
    background-color: var(--platinum);
}

.card img{
    width: 100%;
    height: auto;
}

footer{
    grid-area: footer;
    background-color: var(--platinum);
}