:root{
    --platinum: #E5E5E5;
    --raisin-black: #1D1E2C;
    --satin-sheen-gold: #CCA43B;
}

@font-face {
    font-family: Aboreto;
    src: url("./fonts/Aboreto/Aboreto-Regular.ttf");
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

body{
    min-height: 100vh;
    font-family: "Aboreto";
}

.container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    grid-auto-flow: column;
    grid-auto-columns: minmax(360px, 1fr);
    grid-template-areas: 
    "header"
    "main"
    ;
    gap: 20px;
}

header {
    grid-area: header;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));;
    gap: 2rem;
    padding: 2rem;
    background-color: var(--satin-sheen-gold);
}

.header-left{
    display: flex;
}

.profile-card{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    background-color: var(--raisin-black);
    padding: 2rem;

}

.selfie{
    width: 100%;
    height: auto;
    border-radius: 2rem;
    margin: auto;
}

.name{
    display: flex;
    flex-direction: column;
}

.header-right{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

main {
    grid-area: main;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.projects{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
    gap: 10px;
    margin: 10px;
}

.project{
    border: 2px solid var(--satin-sheen-gold);
}

.project img{
    width: 100%;
    height: auto;
}

li{
    list-style-type: none;
    font-size: 1.3rem;
}

h1{
    color: var(--platinum);
}

h2{
    font-size: 2rem;
}

h2, h4{
    color: var(--raisin-black);
}